.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin: 10px 0;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }

    .actions {
      display: flex;
      gap: 8px;

      .btn {
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        color: #fff;

        &.update {
          background-color: #70ccad;
        }

        &.delete {
          background-color: #d9534f;
        }
      }
    }
  }

  .card-body {
    margin: 10px 0;
    p {
      margin: 0;
      font-size: 14px;
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .counter {
      display: flex;
      align-items: center;
      gap: 5px;

      .count {
        background-color: #e0e0e0a1;
        padding: 30px 29px;
        border-radius: 8px;
        font-size: 14px;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .circle-btn {
          background-color: #6f86cc;
          border: 1px solid #ede9e9;
          border-radius: 20%;
          width: 16px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.2s;

          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
    }

    .date {
      font-size: 15px;
      color: #757575;
    }
  }
}
