$sidebar-bg: #343a40;
$sidebar-color: #fff;
$background-color: #fff;
$padding: 20px;
$margin-right: 80px;

.sidebar {
  background-color: $sidebar-bg;
  color: $sidebar-color;
  padding: $padding;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: $margin-right;
  min-height: calc(100vh - (#{$padding} * 2)); // Tam boy
  width: 100%;
  max-width: 250px;

  p {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px 0;

      a {
        color: $sidebar-color;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: lighten($sidebar-color, 20%);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .sidebar {
    max-width: 100%;
    min-height: auto;
  }
}
